<div class="deleted-container">
    <div class="title-container logout-user">
            <h1>ABOLITION TO PINEAPPLE ON PIZZA!</h1>
            <p>Pineapple is wonderful, the problem is when it is on pizza</p>
    </div>
    <div class="flex-container">
        <div class="content-container">
            <h3>Sorry that you deleted your account 😢</h3>
            <p>You can always create a new account <a href="/petition/register">here</a></p>
        </div>
        <div class="img-container">
            <img src="/images/nonna.png">
        </div>
    </div>
</div>