<div class="home-container">
    <div class="title-container logout-user">
        <h1>ABOLITION TO <br>PINEAPPLE ON PIZZA!</h1>
        <p>Pineapple is wonderful, the problem is when it is on pizza</p>
    </div>

    <div class="content-container">
        <div class="text-container">
            <p>It's scientifically proven that every time someone puts a pineapple on a pizza, <br>a Nonna feels a pang in her heart.</p>
            <p>Only on US, the Hawaiian Pizza was crowned as "America's Favorite Pizza".</p>

            <p>The pineapple pizza has been targeting Nonnas since 1962. This atrocity must stop.</p>

            <p>Sign now our petition to abolish pineapple on pizza and save a Nonna's life today.</p>

            
            <div class="buttons-container">
                <p>To continue please <strong>login</strong>.</p>
                <p>If you don't have an account, please <strong>register</strong>.</p>
                <a href="/petition/login" class="submit-button yellow-bck">LOGIN</a>
                <a href="/petition/register" class="submit-button">CREATE ACCOUNT</a>
            </div>
            
        </div>
        <div class="img-container">
            <div class="images">
                <img class="foods" src="/images/pizza.png">
                <span>+</span>
                <img class="foods" src="/images/pineapple.png">
                <span>=</span>
                <img src="/images/nonna.png">
            </div>
        </div>
    </div>

</div>