<div class="profile-container">
    <h3>Please let us know a bit more about yourself</h3>
    <form method="POST" class="profile-form">
        <label for="age">Age</label>
        <input type="number" name="age">

        <label for="city">City</label>
        <input type="text" name="city">

        <label for="url">Website</label>
        <input type="text" name="url">

        <p class="error-message">{{error}}</p>

        <button class="submit-button" type="submit">CONTINUE</button>
    </form>
</div>