<div class="register-container">
    <div class="title-container logout-user">
        <h1>ABOLITION TO PINEAPPLE ON PIZZA!</h1>
        <p>Pineapple is wonderful, the problem is when it is on pizza</p>
    </div>

    <div class="flex-container">
        <div class="content-container">

            <div class="numbers">
                <div class="with-bck">1</div>
                <div>2</div>
                <div>3</div>
            </div>

            <div class="text-container">
                <p>Sign the petition to abolish <strong>Hawaiian Pizza</strong> now.</p>
                <p>Register to sign.</p>
                <p class="p-text"><strong>First, a few basic information about you</strong></p>
            </div>

            <p class="error-message">{{error}}</p>

            <form class="register-form" method="POST">
                <label for="first">First name<span class="mandatory">*</span></label>
                <input type="text" name="first" placeholder="Type here">

                <label for="last">Last name<span class="mandatory">*</span></label>
                <input type="text" name="last" placeholder="Type here">

                <label for="email">Email<span class="mandatory">*</span></label>
                <input type="email" name="email" placeholder="Type here">

                <label for="password">Password<span class="mandatory">*</span></label>
                <input type="password" name="password" placeholder="Type here">

                <button class="submit-button" type="submit">SUBMIT</button>

                <p class="login-message">If you are already a member, please <a href="/petition/login"><strong>log in</strong></a></p>
            </form>
        </div>
        <div class="img-container">
            <img src="/images/nonna.png">
        </div>
    </div>

</div>