<div class="signers-container">
    <p>Here are all the people who signed for this great cause:</p>
    <ul>
        {{#signers}}
        <li>{{first}} {{last}}</li>
        {{/signers}}
    </ul>
</div>