<div class="thanks-container">
    <h1>Thank you for sign our important cause!</h1>
    <img src={{signatureURL}} alt="Your signature">
    <a href="/petition/signers"><p>Check here all {{numberOfSigners}} signers!</p></a>
</div>